html, body {
  height: 100dvh;
  overflow: hidden;
  margin: 0;
}
body{
    background-color: rgb(255, 200, 255);
}
p{
    text-align: center;
    margin-top: 200px;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
    direction: rtl;
}
